<div id='npaw-logo'>
	<img src='img/npaw_little.png'/>
	<div class='big'>
		<img src='img/npaw_big.png'/>
	</div>
</div>
<div class='rest'>
	<h1>NPAW technical test by <a href='https://github.com/aslogd'>@aslogd</a></h1>
	<input type="search" id="search-input" placeholder="Search albums in iTunes..."/>
</div>